.Main-Sidebar {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
    max-width: 330px;
}

.folder-name.active {
    background-color: black;
    color: white;
}

.folder-name, .add-folder-link, .Add-folder-button-container {
    color: black;
    display: block;
    font-size: 20px;
    margin: 0 0 8px auto;
    padding: 8px 16px;
    text-decoration: none;
}

.add-folder-link {
    color: black;
    display: block;
}

.add-folder-link:hover, .folder-name:hover {
    background-color: black;
    color: white;
}

